In [ ]:
%cd /content/drive/MyDrive/MCUT/R911R912
!ls

/content/drive/MyDrive/MCUT/R911R912
20220413		code	     test.csv
ARO1_pearsonr_corr.csv	data	     Untitled0.ipynb
ARO1特徵因子分析.ipynb	dataset.pkl  Untitled1.ipynb
ARO2_pearsonr_corr.csv	model
ARO2特徵因子分析.ipynb	PPT

In [ ]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.colors import ListedColormap

In [ ]:
df_x = pd.read_excel("data/ADS47/R911R912 _明志蔡教授_R4-ARO2.xlsx", sheet_name = "R911R912_TAG相關錶點資料(X)")

In [ ]:
df = df_x[["Unnamed: 0", "ARO2-DCS-PDI91101", "ARO2-DCS-PDI91201", "ARO2-DCS-FI91601", "ARO2-DCS-FI91701", "ARO2-LIMS-S905@Water", "ARO2-LIMS-S907@Water"]]
df["Unnamed: 0"] = range(60679)
df.loc[df["ARO2-LIMS-S905@Water"] == "Over Range", "ARO2-LIMS-S905@Water"] = np.nan
df.loc[df["ARO2-LIMS-S907@Water"] == "Over Range", "ARO2-LIMS-S907@Water"] = np.nan
# df = df[df["ARO2-LIMS-S905@Water"].notnull() & df["ARO2-LIMS-S907@Water"].notnull()]
# df.columns.values[0] = "time(hr)"
from tqdm import tqdm
for i in tqdm(df.columns):
    df[i] = pd.to_numeric(df[i], errors='coerce')

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
  0%|          | 0/7 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
100%|██████████| 7/7 [00:00<00:00, 82.91it/s]

,Unnamed: 0,ARO2-DCS-PDI91101,ARO2-DCS-PDI91201,ARO2-DCS-FI91601,ARO2-DCS-FI91701,ARO2-LIMS-S905@Water,ARO2-LIMS-S907@Water
0,0,2.731854,3.547650,249.573349,500.489868,NaN,NaN
1,1,2.731864,3.547517,249.627914,500.495331,NaN,NaN
2,2,2.731875,3.547384,249.682480,500.500793,NaN,NaN
3,3,2.731885,3.547251,249.737045,500.506256,NaN,NaN
4,4,2.731896,3.547118,249.791611,500.511719,NaN,NaN
...,...,...,...,...,...,...,...
60674,60674,3.376228,3.603930,545.488342,629.368591,NaN,NaN
60675,60675,3.378542,3.601583,508.997894,576.146851,NaN,NaN
60676,60676,3.397708,3.592693,541.041016,636.753174,NaN,NaN
60677,60677,3.344053,3.705959,547.967651,638.237244,NaN,NaN
60678,60678,3.304692,3.720822,548.199829,634.467468,NaN,NaN

In [ ]:
for i in range(len(df)-1):
  df.loc[i+1, "btw_t"] = df["Unnamed: 0"][i+1] - df["Unnamed: 0"][i]
  df.loc[i+1, "btw_ARO2-DCS-PDI91101"] = df["ARO2-DCS-PDI91101"][i+1] - df["ARO2-DCS-PDI91101"][i]
  df.loc[i+1, "btw_ARO2-DCS-PDI91201"] = df["ARO2-DCS-PDI91201"][i+1] - df["ARO2-DCS-PDI91201"][i]

df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Unnamed: 0,ARO2-DCS-PDI91101,ARO2-DCS-PDI91201,ARO2-DCS-FI91601,ARO2-DCS-FI91701,ARO2-LIMS-S905@Water,ARO2-LIMS-S907@Water,btw_t,btw_ARO2-DCS-PDI91101,btw_ARO2-DCS-PDI91201
0,0,2.731854,3.547650,249.573349,500.489868,NaN,NaN,NaN,NaN,NaN
1,1,2.731864,3.547517,249.627914,500.495331,NaN,NaN,1.0,0.000010,-0.000133
2,2,2.731875,3.547384,249.682480,500.500793,NaN,NaN,1.0,0.000010,-0.000133
3,3,2.731885,3.547251,249.737045,500.506256,NaN,NaN,1.0,0.000010,-0.000133
4,4,2.731896,3.547118,249.791611,500.511719,NaN,NaN,1.0,0.000010,-0.000133
...,...,...,...,...,...,...,...,...,...,...
60674,60674,3.376228,3.603930,545.488342,629.368591,NaN,NaN,1.0,0.051777,-0.007429
60675,60675,3.378542,3.601583,508.997894,576.146851,NaN,NaN,1.0,0.002314,-0.002347
60676,60676,3.397708,3.592693,541.041016,636.753174,NaN,NaN,1.0,0.019166,-0.008891
60677,60677,3.344053,3.705959,547.967651,638.237244,NaN,NaN,1.0,-0.053655,0.113266
60678,60678,3.304692,3.720822,548.199829,634.467468,NaN,NaN,1.0,-0.039361,0.014863

In [ ]:
test_df = df.loc[df["btw_ARO2-DCS-PDI91201"] > 0, ["btw_ARO2-DCS-PDI91201", "btw_t", "ARO2-DCS-FI91601", "ARO2-LIMS-S905@Water", "ARO2-LIMS-S907@Water"]].reset_index()
test_df['ARO2-LIMS-S905@Water'].fillna(method='ffill', inplace=True)
test_df['ARO2-LIMS-S905@Water'].fillna(method='bfill', inplace=True)
test_df['ARO2-LIMS-S907@Water'].fillna(method='ffill', inplace=True)
test_df['ARO2-LIMS-S907@Water'].fillna(method='bfill', inplace=True)
# test_df = test_df[test_df["ARO2-LIMS-S905@Water"].notnull() & test_df["ARO2-LIMS-S907@Water"].notnull()]

In [ ]:
N = 0
for i in range(len(test_df)):
  if test_df["index"][i+1] == test_df["index"][i]+1:
    N = N + 1
  else:
    N = N + 1
    test_df.loc[i+1-N, "time"] = N
    test_df.loc[i+1-N, "mean_ARO2-DCS-PDI91201"] = test_df.loc[i+1-N:i+1, "btw_ARO2-DCS-PDI91201"].mean()
    N = 0

In [ ]:
row = test_df[test_df["time"].notnull()].index.tolist()
for i in range(len(row)):
  test_df.loc[row[i], "mean_ARO2-DCS-FI91601"] = test_df.loc[row[i]:row[i+1], "ARO2-DCS-FI91601"].mean()
  test_df.loc[row[i], "mean_ARO2-LIMS-S905@Water"] = test_df.loc[row[i]:row[i+1], "ARO2-LIMS-S905@Water"].mean()
  test_df.loc[row[i], "mean_ARO2-LIMS-S907@Water"] = test_df.loc[row[i]:row[i+1], "ARO2-LIMS-S907@Water"].mean()

In [ ]:
liner_df = test_df[test_df["time"].notnull()]
liner_df = liner_df.dropna()

Linear

In [ ]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# splitting the data
# x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601", "mean_ARO2-LIMS-S905@Water", "mean_ARO2-LIMS-S907@Water"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)
x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)

# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)
y_prediction =  LR.predict(x_test)

In [ ]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test.dropna(),y_prediction)
print("r2 socre is ",score)
print("mean_sqrd_error is==",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is==",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  0.06407432807512792
mean_sqrd_error is== 0.013542990803692385
root_mean_squared error of is== 0.11637435629764997

In [ ]:
print("Model slope:    ", LR.coef_)
print("Model intercept:", LR.intercept_)

Model slope:     [-0.00974242 -0.00026081]
Model intercept: 0.3056114894411416

In [ ]:
""" 
R911 = -0.00989419 * time + -0.00024425 * mean_ARO2-DCS-FI91601 + 0.00053083 * mean_ARO2-LIMS-S905@Water 
     + -0.00012113 * mean_ARO2-LIMS-S907@Water + 0.26579926774195956
"""

Lasso

In [ ]:
# importing train_test_split from sklearn
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# splitting the data
# x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601", "mean_ARO2-LIMS-S905@Water", "mean_ARO2-LIMS-S907@Water"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)
x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)

clf_lasso = linear_model.Lasso(alpha=0.1)
clf_lasso.fit(x_train,y_train)
y_prediction = clf_lasso.predict(x_test)

In [ ]:
# predicting the accuracy score
score=r2_score(y_test, y_prediction)
print("r2 socre is ",score)
print("mean_sqrd_error is==",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is==",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  0.05054658108422361
mean_sqrd_error is== 0.013738739417698992
root_mean_squared error of is== 0.11721236887674863

In [ ]:
print("Model slope:    ", clf_lasso.coef_)
print("Model intercept:", clf_lasso.intercept_)

Model slope:     [-0.         -0.00027368]
Model intercept: 0.2901792952266418

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures

x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601", "mean_ARO2-LIMS-S905@Water", "mean_ARO2-LIMS-S907@Water"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)
# x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)

model = make_pipeline(PolynomialFeatures(4),linear_model.LinearRegression())
model.fit(x_train,y_train)
y_prediction = model.predict(x_test)

In [ ]:
# predicting the accuracy score
score = r2_score(y_test, y_prediction)
print("r2 socre is ",score)
print("mean_sqrd_error is==",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is==",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  0.6530020638025729
mean_sqrd_error is== 0.005021114389518765
root_mean_squared error of is== 0.0708598221104087

In [ ]:
print("Model degree:    ", model.steps[0][1])
print("Model slope:    ", model.steps[1][1].coef_)
print("Model intercept:", model.steps[1][1].intercept_)

Model degree:     PolynomialFeatures(degree=4)
Model slope:     [ 3.23775812e-05  2.48283897e+00 -9.37651450e-02 -7.41167110e-01
  9.63287683e-02  6.92174736e-02 -1.23944226e-02 -5.57156826e-02
  2.31560948e-02  9.15087937e-05  3.13179843e-03 -6.79834256e-04
  2.96221152e-04  8.44386621e-03 -4.01907139e-03  6.42898958e-03
 -2.94737312e-04 -3.01011969e-03  1.43442699e-03  1.93401644e-05
  1.79323752e-04 -6.34839970e-05  3.58323520e-06  3.01948597e-04
 -2.15499500e-04  6.57632518e-08 -3.15832966e-06  2.89355154e-07
 -6.94010562e-06 -2.72827772e-05  1.94619404e-05  6.51710954e-06
  1.28911500e-05 -3.08980990e-05  4.03082688e-06 -6.34756845e-05
 -8.61543528e-06 -3.56924539e-06  2.93222973e-06  3.40611405e-07
  4.89909800e-06 -3.23982710e-06  9.83225730e-07  2.08774692e-06
  1.21884121e-06 -1.02192631e-08 -1.36790582e-07  5.61781644e-08
 -4.40414648e-08 -5.12798302e-07  2.95275243e-07  3.37012476e-08
  2.13353639e-08 -1.73470139e-07  1.80921140e-07 -1.14495524e-10
 -4.54972726e-11  9.32666611e-10  1.02067081e-08  2.30417246e-08
 -2.13040478e-08 -6.95998043e-09 -2.05570228e-08  4.29656063e-08
 -3.98449494e-09 -8.02566053e-09  4.00015004e-09 -1.16541203e-08
  3.35643172e-08 -1.45488641e-08]
Model intercept: 23.91005227201666