In [1]:
%cd /content/drive/MyDrive/MCUT/R911R912
!ls

/content/drive/MyDrive/MCUT/R911R912
20220413		code	     test.csv
ARO1_pearsonr_corr.csv	data	     Untitled0.ipynb
ARO1特徵因子分析.ipynb	dataset.pkl  Untitled1.ipynb
ARO2_pearsonr_corr.csv	model
ARO2特徵因子分析.ipynb	PPT

In [2]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.colors import ListedColormap

In [3]:
df_x = pd.read_excel("data/ADS47/R911R912 _明志蔡教授_R4-ARO2.xlsx", sheet_name = "R911R912_TAG相關錶點資料(X)")
df_x["Unnamed: 0"] = range(60679)
df_x["ARO2-DCS-FI91601"] = pd.to_numeric(df_x["ARO2-DCS-FI91601"], errors='coerce')
df_x = df_x.loc[df_x["ARO2-DCS-FI91601"] > 520, :]
df_x.reset_index(inplace = True, drop = True)

In [4]:
df = df_x[["Unnamed: 0", "ARO2-DCS-PDI91101", "ARO2-DCS-PDI91201", "ARO2-DCS-FI91601", "ARO2-DCS-FI91701", "ARO2-LIMS-S905@Water", "ARO2-LIMS-S907@Water", "ARO2-DCS-R911_2_A_FA", "ARO2-DCS-R911_2_L2_A"]]
# df["Unnamed: 0"] = range(60679)
df.loc[df["ARO2-LIMS-S905@Water"] == "Over Range", "ARO2-LIMS-S905@Water"] = np.nan
df.loc[df["ARO2-LIMS-S907@Water"] == "Over Range", "ARO2-LIMS-S907@Water"] = np.nan
# df = df[df["ARO2-LIMS-S905@Water"].notnull() & df["ARO2-LIMS-S907@Water"].notnull()]
# df.columns.values[0] = "time(hr)"
from tqdm import tqdm
for i in tqdm(df.columns):
    df[i] = pd.to_numeric(df[i], errors='coerce')

df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
  0%|          | 0/9 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
100%|██████████| 9/9 [00:00<00:00, 72.76it/s]

,Unnamed: 0,ARO2-DCS-PDI91101,ARO2-DCS-PDI91201,ARO2-DCS-FI91601,ARO2-DCS-FI91701,ARO2-LIMS-S905@Water,ARO2-LIMS-S907@Water,ARO2-DCS-R911_2_A_FA,ARO2-DCS-R911_2_L2_A
0,6075,2.720909,2.891332,520.227295,536.717346,NaN,NaN,0.476,0.354005
1,6080,2.722654,3.056192,520.065247,529.935669,NaN,NaN,0.476,0.354005
2,6084,2.756148,3.021479,520.485046,539.257446,NaN,NaN,0.476,0.354005
3,6101,2.764775,3.019719,520.381592,530.617065,NaN,NaN,0.476,0.356976
4,6119,2.658875,3.087122,522.027710,535.890747,NaN,NaN,0.476,0.358866
...,...,...,...,...,...,...,...,...,...
40248,60673,3.324451,3.611359,544.754517,637.164734,NaN,NaN,0.502,0.372907
40249,60674,3.376228,3.603930,545.488342,629.368591,NaN,NaN,0.502,0.372907
40250,60676,3.397708,3.592693,541.041016,636.753174,NaN,NaN,0.502,0.372907
40251,60677,3.344053,3.705959,547.967651,638.237244,NaN,NaN,0.502,0.372907
40252,60678,3.304692,3.720822,548.199829,634.467468,NaN,NaN,0.502,0.372907

In [5]:
for i in range(len(df)-1):
  df.loc[i+1, "btw_t"] = df["Unnamed: 0"][i+1] - df["Unnamed: 0"][i]
  df.loc[i+1, "btw_ARO2-DCS-PDI91101"] = df["ARO2-DCS-PDI91101"][i+1] - df["ARO2-DCS-PDI91101"][i]
  df.loc[i+1, "btw_ARO2-DCS-PDI91201"] = df["ARO2-DCS-PDI91201"][i+1] - df["ARO2-DCS-PDI91201"][i]

df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Unnamed: 0,ARO2-DCS-PDI91101,ARO2-DCS-PDI91201,ARO2-DCS-FI91601,ARO2-DCS-FI91701,ARO2-LIMS-S905@Water,ARO2-LIMS-S907@Water,ARO2-DCS-R911_2_A_FA,ARO2-DCS-R911_2_L2_A,btw_t,btw_ARO2-DCS-PDI91101,btw_ARO2-DCS-PDI91201
0,6075,2.720909,2.891332,520.227295,536.717346,NaN,NaN,0.476,0.354005,NaN,NaN,NaN
1,6080,2.722654,3.056192,520.065247,529.935669,NaN,NaN,0.476,0.354005,5.0,0.001745,0.164860
2,6084,2.756148,3.021479,520.485046,539.257446,NaN,NaN,0.476,0.354005,4.0,0.033494,-0.034713
3,6101,2.764775,3.019719,520.381592,530.617065,NaN,NaN,0.476,0.356976,17.0,0.008627,-0.001760
4,6119,2.658875,3.087122,522.027710,535.890747,NaN,NaN,0.476,0.358866,18.0,-0.105900,0.067403
...,...,...,...,...,...,...,...,...,...,...,...,...
40248,60673,3.324451,3.611359,544.754517,637.164734,NaN,NaN,0.502,0.372907,1.0,0.012734,0.089395
40249,60674,3.376228,3.603930,545.488342,629.368591,NaN,NaN,0.502,0.372907,1.0,0.051777,-0.007429
40250,60676,3.397708,3.592693,541.041016,636.753174,NaN,NaN,0.502,0.372907,2.0,0.021481,-0.011237
40251,60677,3.344053,3.705959,547.967651,638.237244,NaN,NaN,0.502,0.372907,1.0,-0.053655,0.113266
40252,60678,3.304692,3.720822,548.199829,634.467468,NaN,NaN,0.502,0.372907,1.0,-0.039361,0.014863

In [6]:
test_df = df.loc[df["btw_ARO2-DCS-PDI91201"] > 0, ["btw_ARO2-DCS-PDI91201", "btw_t", "ARO2-DCS-FI91601", "ARO2-LIMS-S905@Water", "ARO2-LIMS-S907@Water", "ARO2-DCS-R911_2_A_FA", "ARO2-DCS-R911_2_L2_A"]].reset_index()
test_df['ARO2-LIMS-S905@Water'].fillna(method='ffill', inplace=True)
test_df['ARO2-LIMS-S905@Water'].fillna(method='bfill', inplace=True)
test_df['ARO2-LIMS-S907@Water'].fillna(method='ffill', inplace=True)
test_df['ARO2-LIMS-S907@Water'].fillna(method='bfill', inplace=True)
test_df['ARO2-DCS-R911_2_A_FA'].fillna(method='ffill', inplace=True)
test_df['ARO2-DCS-R911_2_A_FA'].fillna(method='bfill', inplace=True)
test_df['ARO2-DCS-R911_2_L2_A'].fillna(method='ffill', inplace=True)
test_df['ARO2-DCS-R911_2_L2_A'].fillna(method='bfill', inplace=True)
# test_df = test_df[test_df["ARO2-LIMS-S905@Water"].notnull() & test_df["ARO2-LIMS-S907@Water"].notnull()]

In [7]:
N = 0
for i in range(len(test_df)):
  if test_df["index"][i+1] == test_df["index"][i]+1:
    N = N + 1
  else:
    N = N + 1
    test_df.loc[i+1-N, "time"] = N
    test_df.loc[i+1-N, "mean_ARO2-DCS-PDI91201"] = test_df.loc[i+1-N:i+1, "btw_ARO2-DCS-PDI91201"].mean()
    N = 0

KeyError: ignored

In [8]:
row = test_df[test_df["time"].notnull()].index.tolist()
for i in range(len(row)):
  test_df.loc[row[i], "mean_ARO2-DCS-FI91601"] = test_df.loc[row[i]:row[i+1], "ARO2-DCS-FI91601"].mean()
  test_df.loc[row[i], "mean_ARO2-LIMS-S905@Water"] = test_df.loc[row[i]:row[i+1], "ARO2-LIMS-S905@Water"].mean()
  test_df.loc[row[i], "mean_ARO2-LIMS-S907@Water"] = test_df.loc[row[i]:row[i+1], "ARO2-LIMS-S907@Water"].mean()
  test_df.loc[row[i], "mean_ARO2-DCS-R911_2_A_FA"] = test_df.loc[row[i]:row[i+1], "ARO2-DCS-R911_2_A_FA"].mean()
  test_df.loc[row[i], "mean_ARO2-DCS-R911_2_L2_A"] = test_df.loc[row[i]:row[i+1], "ARO2-DCS-R911_2_L2_A"].mean()

IndexError: ignored

In [9]:
liner_df = test_df[test_df["time"].notnull()]
liner_df = liner_df.dropna()

Linear

In [10]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# splitting the data
x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601", "mean_ARO2-LIMS-S905@Water", "mean_ARO2-LIMS-S907@Water", "mean_ARO2-DCS-R911_2_A_FA", "mean_ARO2-DCS-R911_2_L2_A"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)
# x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)

# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)
y_prediction =  LR.predict(x_test)

In [11]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test.dropna(),y_prediction)
print("r2 socre is ",score)
print("mean_sqrd_error is==",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is==",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  0.6682187139639565
mean_sqrd_error is== 0.0032065739086870543
root_mean_squared error of is== 0.05662661837587562

In [12]:
print("Model slope:    ", LR.coef_)
print("Model intercept:", LR.intercept_)

Model slope:     [ 7.13401805e-05 -4.30878640e-03 -2.64060479e-04  6.46114345e-05
 -5.89926115e+00  3.20979623e-01]
Model intercept: 5.25118913850055

In [ ]:
""" 
R911 = -0.00989419 * time + -0.00024425 * mean_ARO2-DCS-FI91601 + 0.00053083 * mean_ARO2-LIMS-S905@Water 
     + -0.00012113 * mean_ARO2-LIMS-S907@Water + 0.26579926774195956
"""

Lasso

In [16]:
# importing train_test_split from sklearn
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# splitting the data
x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601", "mean_ARO2-LIMS-S905@Water", "mean_ARO2-LIMS-S907@Water", "mean_ARO2-DCS-R911_2_A_FA", "mean_ARO2-DCS-R911_2_L2_A"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)
# x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)

clf_lasso = linear_model.Lasso(alpha=0.1)
clf_lasso.fit(x_train,y_train)
y_prediction = clf_lasso.predict(x_test)

In [17]:
# predicting the accuracy score
score=r2_score(y_test, y_prediction)
print("r2 socre is ",score)
print("mean_sqrd_error is==",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is==",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  0.5279206875984676
mean_sqrd_error is== 0.004562515336724657
root_mean_squared error of is== 0.06754639395796534

In [18]:
print("Model slope:    ", clf_lasso.coef_)
print("Model intercept:", clf_lasso.intercept_)

Model slope:     [-0.         -0.00424634  0.00034039  0.         -0.         -0.        ]
Model intercept: 2.419056185260583

In [27]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures

x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601", "mean_ARO2-LIMS-S905@Water", "mean_ARO2-LIMS-S907@Water", "mean_ARO2-DCS-R911_2_A_FA", "mean_ARO2-DCS-R911_2_L2_A"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)
# x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601"]], liner_df["mean_ARO2-DCS-PDI91201"], test_size = 0.2, random_state = 42)

model = make_pipeline(PolynomialFeatures(3),linear_model.LinearRegression())
model.fit(x_train,y_train)
y_prediction = model.predict(x_test)

In [28]:
# predicting the accuracy score
score = r2_score(y_test, y_prediction)
print("r2 socre is ",score)
print("mean_sqrd_error is==",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is==",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  0.7342527967484881
mean_sqrd_error is== 0.002568372853194259
root_mean_squared error of is== 0.05067911653920438

In [29]:
print("Model degree:    ", model.steps[0][1])
print("Model slope:    ", model.steps[1][1].coef_)
print("Model intercept:", model.steps[1][1].intercept_)

Model degree:     PolynomialFeatures(degree=3)
Model slope:     [ 5.76264758e-02 -7.39359773e+01  9.23136734e+00 -5.29033553e+00
  2.96584486e+00  6.07749476e+03 -1.29346828e+03 -3.65571543e-02
  1.24307787e-01  3.20332958e-02  1.09484017e-04  1.58825041e+02
 -2.02478253e+00 -1.02433343e-02  2.70718188e-04  1.30802317e-03
 -1.76469532e+01  2.36465029e+00 -2.02838105e-05  2.08086778e-04
  2.17036284e+01 -7.48129702e-01 -8.81975282e-04 -1.36225567e+01
  3.65263878e-01 -5.58949233e+03  4.65055839e+03 -1.27894943e+03
 -1.97734068e-04  9.62772728e-05 -8.77991160e-06  9.54705839e-06
 -7.53152324e-02  6.43526808e-02 -5.74069770e-05 -1.79697300e-05
 -9.17481248e-06 -1.18031462e-01 -5.11060291e-03 -1.41628425e-06
  3.14448607e-06 -5.16173145e-02  9.32072409e-03 -1.27221278e-06
  1.37149466e-02 -5.28543956e-03 -9.44263830e+01  6.62189620e+00
  1.13599068e+00  2.24137904e-06  1.78677851e-06 -1.56645706e-06
  1.58345052e-02 -2.82691905e-03  2.33198989e-07 -7.10490895e-07
 -3.34093859e-03 -1.74024905e-03  3.39930011e-07 -1.09511192e-04
  1.46963508e-03  5.58605738e-01  1.19034177e+00  2.58870903e-01
 -1.05450545e-06  1.70857743e-06 -2.12867655e-04  2.92554772e-04
 -1.05701702e-07 -5.42584816e-04  6.50264834e-04 -2.13347146e+01
  3.59454056e+00 -2.49608396e-01  1.36695235e-07  1.43132761e-03
 -7.91373513e-05  1.46862858e+01 -2.63510281e+00  1.38591286e-01
  6.13908852e+03 -7.61377517e+03  2.74246355e+03 -1.67747085e+02]
Model intercept: -2366.312237049115