In [1]:
%cd /content/drive/MyDrive/MCUT/R911R912
!ls

/content/drive/MyDrive/MCUT/R911R912
20220413		code	     test.csv
ARO1_pearsonr_corr.csv	data	     Untitled0.ipynb
ARO1特徵因子分析.ipynb	dataset.pkl  Untitled1.ipynb
ARO2_pearsonr_corr.csv	model
ARO2特徵因子分析.ipynb	PPT

In [2]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.colors import ListedColormap

In [24]:
df_x = pd.read_excel("data/ADS47/R911R912 _明志蔡教授_R4-ARO2.xlsx", sheet_name = "R911R912_TAG相關錶點資料(X)")

In [25]:
df_x["Unnamed: 0"] = range(60679)
df_x["ARO2-DCS-FI91601"] = pd.to_numeric(df_x["ARO2-DCS-FI91601"], errors='coerce')
df_x = df_x.loc[df_x["ARO2-DCS-FI91601"] > 520, :]
df_x.reset_index(inplace = True, drop = True)

In [26]:
df = df_x[["Unnamed: 0", "ARO2-DCS-PDI91101", "ARO2-DCS-PDI91201", "ARO2-DCS-FI91601", "ARO2-DCS-FI91701", "ARO2-LIMS-S905@Water", "ARO2-LIMS-S907@Water", "ARO2-DCS-R911_2_A_FA", "ARO2-DCS-R911_2_L2_A"]]
# df["Unnamed: 0"] = range(60679)
df.loc[df["ARO2-LIMS-S905@Water"] == "Over Range", "ARO2-LIMS-S905@Water"] = np.nan
df.loc[df["ARO2-LIMS-S907@Water"] == "Over Range", "ARO2-LIMS-S907@Water"] = np.nan
# df = df[df["ARO2-LIMS-S905@Water"].notnull() & df["ARO2-LIMS-S907@Water"].notnull()]
# df.columns.values[0] = "time(hr)"
from tqdm import tqdm
for i in tqdm(df.columns):
    df[i] = pd.to_numeric(df[i], errors='coerce')

df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
  0%|          | 0/9 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
100%|██████████| 9/9 [00:00<00:00, 106.05it/s]

,Unnamed: 0,ARO2-DCS-PDI91101,ARO2-DCS-PDI91201,ARO2-DCS-FI91601,ARO2-DCS-FI91701,ARO2-LIMS-S905@Water,ARO2-LIMS-S907@Water,ARO2-DCS-R911_2_A_FA,ARO2-DCS-R911_2_L2_A
0,6075,2.720909,2.891332,520.227295,536.717346,NaN,NaN,0.476,0.354005
1,6080,2.722654,3.056192,520.065247,529.935669,NaN,NaN,0.476,0.354005
2,6084,2.756148,3.021479,520.485046,539.257446,NaN,NaN,0.476,0.354005
3,6101,2.764775,3.019719,520.381592,530.617065,NaN,NaN,0.476,0.356976
4,6119,2.658875,3.087122,522.027710,535.890747,NaN,NaN,0.476,0.358866
...,...,...,...,...,...,...,...,...,...
40248,60673,3.324451,3.611359,544.754517,637.164734,NaN,NaN,0.502,0.372907
40249,60674,3.376228,3.603930,545.488342,629.368591,NaN,NaN,0.502,0.372907
40250,60676,3.397708,3.592693,541.041016,636.753174,NaN,NaN,0.502,0.372907
40251,60677,3.344053,3.705959,547.967651,638.237244,NaN,NaN,0.502,0.372907
40252,60678,3.304692,3.720822,548.199829,634.467468,NaN,NaN,0.502,0.372907

In [27]:
for i in range(len(df)-1):
  df.loc[i+1, "btw_t"] = df["Unnamed: 0"][i+1] - df["Unnamed: 0"][i]
  df.loc[i+1, "btw_ARO2-DCS-PDI91101"] = df["ARO2-DCS-PDI91101"][i+1] - df["ARO2-DCS-PDI91101"][i]
  df.loc[i+1, "btw_ARO2-DCS-PDI91201"] = df["ARO2-DCS-PDI91201"][i+1] - df["ARO2-DCS-PDI91201"][i]

df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Unnamed: 0,ARO2-DCS-PDI91101,ARO2-DCS-PDI91201,ARO2-DCS-FI91601,ARO2-DCS-FI91701,ARO2-LIMS-S905@Water,ARO2-LIMS-S907@Water,ARO2-DCS-R911_2_A_FA,ARO2-DCS-R911_2_L2_A,btw_t,btw_ARO2-DCS-PDI91101,btw_ARO2-DCS-PDI91201
0,6075,2.720909,2.891332,520.227295,536.717346,NaN,NaN,0.476,0.354005,NaN,NaN,NaN
1,6080,2.722654,3.056192,520.065247,529.935669,NaN,NaN,0.476,0.354005,5.0,0.001745,0.164860
2,6084,2.756148,3.021479,520.485046,539.257446,NaN,NaN,0.476,0.354005,4.0,0.033494,-0.034713
3,6101,2.764775,3.019719,520.381592,530.617065,NaN,NaN,0.476,0.356976,17.0,0.008627,-0.001760
4,6119,2.658875,3.087122,522.027710,535.890747,NaN,NaN,0.476,0.358866,18.0,-0.105900,0.067403
...,...,...,...,...,...,...,...,...,...,...,...,...
40248,60673,3.324451,3.611359,544.754517,637.164734,NaN,NaN,0.502,0.372907,1.0,0.012734,0.089395
40249,60674,3.376228,3.603930,545.488342,629.368591,NaN,NaN,0.502,0.372907,1.0,0.051777,-0.007429
40250,60676,3.397708,3.592693,541.041016,636.753174,NaN,NaN,0.502,0.372907,2.0,0.021481,-0.011237
40251,60677,3.344053,3.705959,547.967651,638.237244,NaN,NaN,0.502,0.372907,1.0,-0.053655,0.113266
40252,60678,3.304692,3.720822,548.199829,634.467468,NaN,NaN,0.502,0.372907,1.0,-0.039361,0.014863

In [28]:
test_df = df.loc[df["btw_ARO2-DCS-PDI91101"] > 0, ["btw_ARO2-DCS-PDI91101", "btw_t", "ARO2-DCS-FI91601", "ARO2-LIMS-S905@Water", "ARO2-LIMS-S907@Water", "ARO2-DCS-R911_2_A_FA", "ARO2-DCS-R911_2_L2_A"]].reset_index()
test_df['ARO2-LIMS-S905@Water'].fillna(method='ffill', inplace=True)
test_df['ARO2-LIMS-S905@Water'].fillna(method='bfill', inplace=True)
test_df['ARO2-LIMS-S907@Water'].fillna(method='ffill', inplace=True)
test_df['ARO2-LIMS-S907@Water'].fillna(method='bfill', inplace=True)
test_df['ARO2-DCS-R911_2_A_FA'].fillna(method='ffill', inplace=True)
test_df['ARO2-DCS-R911_2_A_FA'].fillna(method='bfill', inplace=True)
test_df['ARO2-DCS-R911_2_L2_A'].fillna(method='ffill', inplace=True)
test_df['ARO2-DCS-R911_2_L2_A'].fillna(method='bfill', inplace=True)

In [29]:
N = 0
for i in range(len(test_df)):
  if test_df["index"][i+1] == test_df["index"][i]+1:
    N = N + 1
  else:
    N = N + 1
    test_df.loc[i+1-N, "time"] = N
    test_df.loc[i+1-N, "mean_ARO2-DCS-PDI91101"] = test_df.loc[i+1-N:i+1, "btw_ARO2-DCS-PDI91101"].mean()
    N = 0

KeyError: ignored

In [30]:
row = test_df[test_df["time"].notnull()].index.tolist()
for i in range(len(row)):
  test_df.loc[row[i], "mean_ARO2-DCS-FI91601"] = test_df.loc[row[i]:row[i+1], "ARO2-DCS-FI91601"].mean()
  test_df.loc[row[i], "mean_ARO2-LIMS-S905@Water"] = test_df.loc[row[i]:row[i+1], "ARO2-LIMS-S905@Water"].mean()
  test_df.loc[row[i], "mean_ARO2-LIMS-S907@Water"] = test_df.loc[row[i]:row[i+1], "ARO2-LIMS-S907@Water"].mean()
  test_df.loc[row[i], "mean_ARO2-DCS-R911_2_A_FA"] = test_df.loc[row[i]:row[i+1], "ARO2-DCS-R911_2_A_FA"].mean()
  test_df.loc[row[i], "mean_ARO2-DCS-R911_2_L2_A"] = test_df.loc[row[i]:row[i+1], "ARO2-DCS-R911_2_L2_A"].mean()

IndexError: ignored

In [31]:
liner_df = test_df[test_df["time"].notnull()]
liner_df = liner_df.dropna()

Linear

In [32]:
# importing train_test_split from sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# splitting the data
x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601", "mean_ARO2-LIMS-S905@Water", "mean_ARO2-LIMS-S907@Water", "mean_ARO2-DCS-R911_2_A_FA", "mean_ARO2-DCS-R911_2_L2_A"]], liner_df["mean_ARO2-DCS-PDI91101"], test_size = 0.2, random_state = 42)
# x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601"]], liner_df["mean_ARO2-DCS-PDI91101"], test_size = 0.2, random_state = 42)


LR = LinearRegression()
LR.fit(x_train,y_train)
y_prediction =  LR.predict(x_test)

In [33]:
# predicting the accuracy score
score=r2_score(y_test, y_prediction)
print("r2 socre:",score)
print("mean_sqrd_error:",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error:",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre: 0.6025987955188067
mean_sqrd_error: 0.0022174724893566965
root_mean_squared error: 0.04709004660601534

In [34]:
print("Model slope:    ", LR.coef_)
print("Model intercept:", LR.intercept_)

Model slope:     [ 1.03981567e-03 -3.51338788e-03  7.10597393e-05  4.26143858e-05
 -3.99965774e+00  2.31172129e-01]
Model intercept: 3.8818439356960286

In [ ]:
""" 
R911 = 0.00020522 * time + -0.00100263 * mean_ARO2-DCS-FI91601 + 0.00033328 * mean_ARO2-LIMS-S905@Water 
     + 0.00058329 * mean_ARO2-LIMS-S907@Water + 0.5846349992679343
"""

' \nR911 = 0.00020522 * time + -0.00100263 * mean_ARO2-DCS-FI91601 + 0.00033328 * mean_ARO2-LIMS-S905@Water \n     + 0.00058329 * mean_ARO2-LIMS-S907@Water + 0.5846349992679343\n'

Lasso

In [49]:
# importing train_test_split from sklearn
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# splitting the data
x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601", "mean_ARO2-LIMS-S905@Water", "mean_ARO2-LIMS-S907@Water", "mean_ARO2-DCS-R911_2_A_FA", "mean_ARO2-DCS-R911_2_L2_A"]], liner_df["mean_ARO2-DCS-PDI91101"], test_size = 0.2, random_state = 42)
# x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601"]], liner_df["mean_ARO2-DCS-PDI91101"], test_size = 0.2, random_state = 42)

clf_lasso = linear_model.Lasso(alpha=0.1)
clf_lasso.fit(x_train,y_train)
y_prediction =  clf_lasso.predict(x_test)

In [50]:
# predicting the accuracy score
score=r2_score(y_test, y_prediction)
print("r2 socre:",score)
print("mean_sqrd_error:",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error:",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre: 0.4809611195055552
mean_sqrd_error: 0.0028962026924540876
root_mean_squared error: 0.05381637940677622

In [51]:
print("Model slope:    ", clf_lasso.coef_)
print("Model intercept:", clf_lasso.intercept_)

Model slope:     [ 0.         -0.00321778  0.00023709  0.         -0.         -0.        ]
Model intercept: 1.846540337404044

In [60]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures

x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601", "mean_ARO2-LIMS-S905@Water", "mean_ARO2-LIMS-S907@Water", "mean_ARO2-DCS-R911_2_A_FA", "mean_ARO2-DCS-R911_2_L2_A"]], liner_df["mean_ARO2-DCS-PDI91101"], test_size = 0.2, random_state = 42)
# x_train, x_test, y_train, y_test = train_test_split(liner_df[["time", "mean_ARO2-DCS-FI91601"]], liner_df["mean_ARO2-DCS-PDI91101"], test_size = 0.2, random_state = 42)

model = make_pipeline(PolynomialFeatures(3),linear_model.LinearRegression())
model.fit(x_train,y_train)
y_prediction = model.predict(x_test)

In [61]:
# predicting the accuracy score
score = r2_score(y_test, y_prediction)
print("r2 socre is ",score)
print("mean_sqrd_error is==",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is==",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  0.6910304657724962
mean_sqrd_error is== 0.0017240296065364983
root_mean_squared error of is== 0.041521435506693384

In [62]:
print("Model degree:    ", model.steps[0][1])
print("Model slope:    ", model.steps[1][1].coef_)
print("Model intercept:", model.steps[1][1].intercept_)

Model degree:     PolynomialFeatures(degree=3)
Model slope:     [-3.67690464e-03 -4.78911732e+01  9.12193473e+00  1.02917579e+00
 -2.49914695e-01  1.67579592e+04 -1.38420199e+03 -4.36206398e-02
  1.09616671e-01 -2.99522858e-03  2.32951077e-03  6.99273902e+01
  3.97146080e+00 -7.47939769e-03  1.34289813e-03 -1.00227016e-04
 -2.26348643e+01  1.44118125e+00  2.97524368e-04 -2.04026005e-03
 -6.66215612e+00  1.63825020e+00  1.05833835e-03  1.68486003e+00
 -8.57281952e-01 -2.35252290e+04  5.09225977e+03 -7.59156538e+02
 -3.38412936e-04  1.11649256e-04 -5.21266700e-06  1.17052813e-06
 -7.44279028e-02  6.49791952e-02 -5.70998172e-05  1.55116704e-05
 -1.87287582e-05 -9.61273173e-02  5.21412180e-04 -4.66804158e-06
  3.27865564e-07 -1.70660209e-02  9.80502354e-03  9.14824341e-08
  2.95298652e-02 -1.86292133e-02 -1.41104131e+01 -1.07355873e+01
  1.87799489e+00  1.39086274e-06  1.62194738e-08  2.81352186e-07
  1.15477811e-02 -7.35635840e-04 -7.84975782e-07 -3.37593519e-07
 -2.93179271e-03  4.77458970e-04  7.94669177e-07 -4.67330288e-04
 -1.09745764e-04  1.11446526e+01 -7.97889428e-01 -4.40147116e-01
 -1.98121597e-07  3.29704562e-07  8.54428612e-04 -7.53938187e-04
  5.04282525e-07  4.80252580e-03 -6.17167785e-04  9.39493925e+00
 -3.79789046e+00  1.04533423e-01 -3.06349648e-07 -3.83659854e-03
  1.13696283e-03 -1.80824372e+00  1.52693289e+00  1.31045166e-01
  1.31351076e+04 -6.11415456e+03  2.07191998e+03 -2.40634747e+01]
Model intercept: -4177.551763248785